#wishiBtn {
    height: 40px;
    width: 40px;
    position: absolute;
    opacity: 1;
    z-index: 9999999;
    cursor: pointer;
    border: none;
    display: none;
    /*display: block;*/
    background-image: url("http://wishi.me/images/favicon.png");
    background-color: transparent;
    background-size: 40px 40px
}
#wishiBtn:hover {
    display : block !important;
}